<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yellowzero.listen">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dang"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MusicPlayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/tt_setting"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImagedDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MusicListActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yellowzero.listen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_share_img" />
        </provider>

        <receiver
            android:name=".notify.PlayerReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.yellowzero.listen.close" />
                <action android:name="com.yellowzero.listen.pause" />
                <action android:name="com.yellowzero.listen.next" />
                <action android:name="com.yellowzero.listen.play" />
                <action android:name="com.yellowzero.listen.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service android:name=".notify.PlayerService" />
    </application>
</manifest>